<p>
  employee works!
</p>
<div [hidden]="frmSubmitted">
  <form (ngSubmit)="save()" [formGroup]="form">
    <table class="table table-stripped table-bordered">
      <tr>
        <td>Emp No</td>
        <td>
          <input type="text"
            class="form-control"
            formControlName="empNo"
            [(ngModel)]="emp.empNo">
        </td>
      </tr>
      <tr>
        <td>Emp Name</td>
        <td><input type="text" class="form-control"
          formControlName="empName"
          [(ngModel)]="emp.empName" >
        </td>        
      </tr>
      <tr>
        <td>Salary</td>
        <td>
          <input type="text" class="form-control"
            formControlName="salary"
            [(ngModel)]="emp.salary"
            (blur)="setDesignation()">
        </td>
        <td>
          Tax payable is:
          <input type="text"
            [value]="emp.salary*0.2"
            class="form-control" disabled>
        </td>
        <td *ngIf="emp.salary>0">
          <h5>Your salary is taxable please click on link to read the Tax rules</h5>
          <a [href]="helpLink" target="_blank">{{helpText}}</a>
        </td>

      </tr>
      <tr>
        <td>Dept Name</td>
        <td>
          <input type="text" class="form-control"
            formControlName="deptName"
            [(ngModel)]="emp.deptName">
        </td>
      </tr>
      <tr>
        <td>Designation</td>
        <td>
          <input type="text" class="form-control"
            formControlName="designation"
            [(ngModel)]="emp.designation"
            readonly>
        </td>
      </tr>
    </table>
    <hr>

    <table class="table table-bordered table-stripped" [hidden]="frmSubmitted">
      <tr>
        <td>
          <input type="button"
            (click)="clear()"
            value="Clear" class="btn btn-danger">
        </td>
        <td>
          <input type="submit"
            value="Submit" class="btn btn-success">
        </td>
      </tr>
    </table>
  </form>
</div>
<hr>

<div [hidden]="!frmSubmitted">
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <td>EmpNo</td>
        <td>EmpName</td>
        <td>Salary</td>
        <td>DeptName</td>
        <td>Designation</td>
        <td>Tax</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.empNo}}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.deptName}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.salary * 0.2}}</td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="Ok" class="btn btn-default"
    (click)="loadForm()">
</div>