<p>
  employee works!
</p>
<table class="table table-bordered table-stripped">
  <tr>
    <td>Using [(ngModel)]</td>
    <td></td>
  </tr>
  <tr>
    <td>Employee Name</td>
    <td><input type="text" [(ngModel)]="employeeName" class="form-control"></td>
  </tr>
  <tr>
    <td>Employee Name</td>
    <td><input type="text" [(ngModel)]="employeeName" class="form-control"></td>
  </tr>
  <tr>
    <hr/>
  </tr>
  <tr>
    <td>Using the bindon-ngModel</td>
    <td></td>
  </tr>
  <tr>
    <td>Salary</td>
    <td><input type="text" bindon-ngModel="salary"></td>
  </tr>
  <tr>
    <td>Salary</td>
    <td><input type="text" bindon-ngModel="salary"></td>
  </tr>
</table>